In [18]:
import pandas as pd
from make_charts import plot_df

In [19]:
actions_df = pd.read_csv("../preds/actions_df_ddpg.csv")
reward_df = pd.read_csv("../preds/reward_df_ddpg.csv")
obs_df = pd.read_csv("../preds/obs_df_ddpg.csv")

In [20]:
actions_df.columns = [col+'_action' for col in actions_df.columns]
actions_df.head()

,CwTempA_action,HwTempA_action,LigA_input_action,P_ctrl_action,SaFrA_action,SaTempA_action
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,5.843977,30.000008,0.130417,-938.868408,1.999582,23.893993
2,14.999771,30.004332,0.000393,-1004.464844,0.329723,20.773239
3,14.999969,43.186256,0.256085,-1037.609863,0.100115,27.465096
4,14.999994,59.922375,0.083410,-1208.562988,0.100010,27.747005

In [21]:
plot_df(actions_df, filename='actions_columns_ddpg.html')

In [22]:
reward_df.head()

     reward
0  0.000000
1 -0.010736
2 -0.000000
3 -0.006302
4 -0.005016

In [23]:
plot_df(reward_df, filename='rewards_columns_ddpg.html')

In [24]:
obs_df.columns = [col+'_obs' for col in obs_df.columns]
obs_df.head()

,CoolA_obs,FanPowerA_obs,HeatA_obs,LigA_obs,OutRH_obs,OutSI_obs,OutTemp_obs,P_obs,P_batt_obs,SOC_obs,ZoneTempA_obs
0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.000000
1,1351.532046,909.280425,163.790164,61.277585,77.0,0.0,9.350,0.000025,-938.868408,0.172292,23.829443
2,576.675057,47.964828,0.000000,0.184614,74.0,0.0,9.075,0.000025,-1004.464844,0.133429,21.860070
3,0.000000,5.969367,566.472695,120.324142,71.0,0.0,8.800,0.000025,0.000000,0.100000,22.319926
4,0.000000,5.960054,617.015278,39.191145,71.5,0.0,8.275,0.000025,0.000000,0.100000,22.499638

In [25]:
plot_df(obs_df, filename='obs_columns_ddpg.html')

In [26]:
final_df = pd.concat([obs_df, reward_df, actions_df],axis=1)
final_df.head()

,CoolA_obs,FanPowerA_obs,HeatA_obs,LigA_obs,OutRH_obs,OutSI_obs,OutTemp_obs,P_obs,P_batt_obs,SOC_obs,ZoneTempA_obs,reward,CwTempA_action,HwTempA_action,LigA_input_action,P_ctrl_action,SaFrA_action,SaTempA_action
0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1351.532046,909.280425,163.790164,61.277585,77.0,0.0,9.350,0.000025,-938.868408,0.172292,23.829443,-0.010736,5.843977,30.000008,0.130417,-938.868408,1.999582,23.893993
2,576.675057,47.964828,0.000000,0.184614,74.0,0.0,9.075,0.000025,-1004.464844,0.133429,21.860070,-0.000000,14.999771,30.004332,0.000393,-1004.464844,0.329723,20.773239
3,0.000000,5.969367,566.472695,120.324142,71.0,0.0,8.800,0.000025,0.000000,0.100000,22.319926,-0.006302,14.999969,43.186256,0.256085,-1037.609863,0.100115,27.465096
4,0.000000,5.960054,617.015278,39.191145,71.5,0.0,8.275,0.000025,0.000000,0.100000,22.499638,-0.005016,14.999994,59.922375,0.083410,-1208.562988,0.100010,27.747005

In [27]:
plot_df(final_df, filename='all_columns_ddpg.html')

In [17]:
5*35000+1560000

1735000